// // skyui icons
// @import './assets/scss/skyui-icons/icomoon-skyui-category';
// @import './assets/scss/skyui-icons/icomoon-skyui-item';
// @import './assets/scss/skyui-icons/icomoon-skyui-misc';

// mat themes
@import './assets/scss/themes/index';
@import './assets/scss/themes/skyui';

body {
  margin: 0px;
  font-size: 14px;
  overflow-x: hidden;
}

div.content {
  max-width: 1200px;
  display: flex;
}

h1, h2, h3, h4, h5 {
  font-size: 14px;
  margin: 0px auto;
  padding: 0;
}

picture {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
}

.flexSpacer {
  flex-grow: 1;
}

.fluid {
  max-width: 100%;
}

.rounded {
  border-radius: 50%;
}


// bricks -->

$cell: 140;
$gap: 5;
$border: 2;

$length2x: #{($cell + $gap + $border) * 2}px;

.brick {
  width: #{$cell}px;
  height: #{$cell}px;
  opacity: 0.9;
  margin: #{$gap}px;
  display: inline-flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  border: #{$border}px solid transparent;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);

  &:hover {
    border-color: rgba(255, 255, 255, 0.8);
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      font-weight: 400;
    }
  }

  picture.bg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    &.icon {
      > img, > span {
        width: 5em;
      }
    }
  }

  footer {
    display: flex;
    z-index: 30;
    padding: 0 1em;
    position: absolute;
    bottom: 0.5em;
    width: 93%;
    height: 2em;
    align-items: center;
  }



  &.w-2 {
    width: $length2x;
  }

  &.v-2 {
    height: $length2x;
  }

  &.s-2 {
    width: $length2x;
    height: $length2x;
  }

}

.bricks {
  margin: 1em auto;
  padding: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

// <-- bricks


@media (min-width: 992px) {

  // bricks -->

  $cell: 200;
  $gap: 10;
  $border: 1;

  $length2x: #{($cell + $gap + $border) * 2}px;

  .brick {
    width: #{$cell}px;
    height: #{$cell}px;
    margin: #{$gap}px;
    border: #{$border}px solid transparent;

    &.w-2 {
      width: $length2x;
    }
  
    &.v-2 {
      height: $length2x;
    }
  
    &.s-2 {
      width: $length2x;
      height: $length2x;
    }
  
  }

  // <-- bricks



}
