$icomoon-font-path: "../../fonts" !default;

%fontBase {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// category
$skyui-category-icon-all-inventory: \e900;
$skyui-category-icon-all-magic: \e901;
$skyui-category-icon-alteration: \e902;
$skyui-category-icon-apparel: \e903;
$skyui-category-icon-books: \e904;
$skyui-category-icon-conjuration: \e905;
$skyui-category-icon-destruction: \e906;
$skyui-category-icon-favorites: \e907;
$skyui-category-icon-food: \e908;
$skyui-category-icon-illusion: \e909;
$skyui-category-icon-ingredients: \e90a;
$skyui-category-icon-keys: \e90b;
$skyui-category-icon-magical-effects: \e90c;
$skyui-category-icon-misc: \e90d;
$skyui-category-icon-potions: \e90e;
$skyui-category-icon-powers: \e90f;
$skyui-category-icon-restoration: \e910;
$skyui-category-icon-scrolls: \e911;
$skyui-category-icon-shouts: \e912;
$skyui-category-icon-weapons: \e913;


// item
$skyui-item-icon-armor-amulet: \e900;
$skyui-item-icon-armor-bracer: \e901;
$skyui-item-icon-armor-circlet: \e902;
$skyui-item-icon-armor-daedra: \e903;
$skyui-item-icon-armor-heavy-body: \e904;
$skyui-item-icon-armor-heavy-calves: \e905;
$skyui-item-icon-armor-heavy-feet: \e906;
$skyui-item-icon-armor-heavy-forearms: \e907;
$skyui-item-icon-armor-heavy-hands: \e908;
$skyui-item-icon-armor-heavy-head: \e909;
$skyui-item-icon-armor-heavy-mask: \e90a;
$skyui-item-icon-armor-heavy-shield: \e90b;
$skyui-item-icon-armor-light-body: \e90c;
$skyui-item-icon-armor-light-calves: \e90d;
$skyui-item-icon-armor-light-feet: \e90e;
$skyui-item-icon-armor-light-forearms: \e90f;
$skyui-item-icon-armor-light-hands: \e910;
$skyui-item-icon-armor-light-head: \e911;
$skyui-item-icon-armor-light-mask: \e912;
$skyui-item-icon-armor-light-shield: \e913;
$skyui-item-icon-armor-ring: \e914;
$skyui-item-icon-book-journal: \e915;
$skyui-item-icon-book-map: \e916;
$skyui-item-icon-book-note: \e917;
$skyui-item-icon-book-tome: \e918;
$skyui-item-icon-book-tome-read: \e919;
$skyui-item-icon-clothing-body: \e91a;
$skyui-item-icon-clothing-calves: \e91b;
$skyui-item-icon-clothing-feet: \e91c;
$skyui-item-icon-clothing-forearms: \e91d;
$skyui-item-icon-clothing-hands: \e91e;
$skyui-item-icon-clothing-head: \e91f;
$skyui-item-icon-clothing-mask: \e920;
$skyui-item-icon-clothing-pants: \e921;
$skyui-item-icon-clothing-robe: \e922;
$skyui-item-icon-clothing-shield: \e923;
$skyui-item-icon-clothing-shoes: \e924;
$skyui-item-icon-default-alteration: \e925;
$skyui-item-icon-default-armor: \e926;
$skyui-item-icon-default-book: \e927;
$skyui-item-icon-default-book-read: \e928;
$skyui-item-icon-default-conjuration: \e929;
$skyui-item-icon-default-destruction: \e92a;
$skyui-item-icon-default-effect: \e92b;
$skyui-item-icon-default-food: \e92c;
$skyui-item-icon-default-illusion: \e92d;
$skyui-item-icon-default-ingredient: \e92e;
$skyui-item-icon-default-key: \e92f;
$skyui-item-icon-default-misc: \e930;
$skyui-item-icon-default-potion: \e931;
$skyui-item-icon-default-power: \e932;
$skyui-item-icon-default-restoration: \e933;
$skyui-item-icon-default-scroll: \e934;
$skyui-item-icon-default-shout: \e935;
$skyui-item-icon-default-weapon: \e936;
$skyui-item-icon-food-beer: \e937;
$skyui-item-icon-food-wine: \e938;
$skyui-item-icon-key-house: \e939;
$skyui-item-icon-magic-fire: \e93a;
$skyui-item-icon-magic-frost: \e93b;
$skyui-item-icon-magic-shock: \e93c;
$skyui-item-icon-misc-artifact: \e93d;
$skyui-item-icon-misc-clutter: \e93e;
$skyui-item-icon-misc-dragonclaw: \e93f;
$skyui-item-icon-misc-gem: \e940;
$skyui-item-icon-misc-gold: \e941;
$skyui-item-icon-misc-goldsack: \e942;
$skyui-item-icon-misc-hide: \e943;
$skyui-item-icon-misc-ingot: \e944;
$skyui-item-icon-misc-leather: \e945;
$skyui-item-icon-misc-lockpick: \e946;
$skyui-item-icon-misc-ore: \e947;
$skyui-item-icon-misc-remains: \e948;
$skyui-item-icon-misc-soulgem: \e949;
$skyui-item-icon-misc-strips: \e94a;
$skyui-item-icon-misc-torch: \e94b;
$skyui-item-icon-misc-trollskull: \e94c;
$skyui-item-icon-misc-wood: \e94d;
$skyui-item-icon-potion-fire: \e94e;
$skyui-item-icon-potion-frost: \e94f;
$skyui-item-icon-potion-health: \e950;
$skyui-item-icon-potion-magic: \e951;
$skyui-item-icon-potion-poison: \e952;
$skyui-item-icon-potion-shock: \e953;
$skyui-item-icon-potion-stam: \e954;
$skyui-item-icon-soulgem-azura: \e955;
$skyui-item-icon-soulgem-empty: \e956;
$skyui-item-icon-soulgem-full: \e957;
$skyui-item-icon-soulgem-grand-empty: \e958;
$skyui-item-icon-soulgem-grand-full: \e959;
$skyui-item-icon-soulgem-grand-partial: \e95a;
$skyui-item-icon-soulgem-partial: \e95b;
$skyui-item-icon-weapon-arrow: \e95c;
$skyui-item-icon-weapon-battleaxe: \e95d;
$skyui-item-icon-weapon-bolt: \e95e;
$skyui-item-icon-weapon-bow: \e95f;
$skyui-item-icon-weapon-crossbow: \e960;
$skyui-item-icon-weapon-daedra: \e961;
$skyui-item-icon-weapon-dagger: \e962;
$skyui-item-icon-weapon-greatsword: \e963;
$skyui-item-icon-weapon-hammer: \e964;
$skyui-item-icon-weapon-mace: \e965;
$skyui-item-icon-weapon-pickaxe: \e966;
$skyui-item-icon-weapon-staff: \e967;
$skyui-item-icon-weapon-sword: \e968;
$skyui-item-icon-weapon-waraxe: \e969;
$skyui-item-icon-weapon-woodaxe: \e96a;

// misc
$skyui-misc-icon-equiped: \e900;
$skyui-misc-icon-poisoned: \e90b;
$skyui-misc-icon-enchanted: \e90c;
$skyui-misc-icon-favored: \e90d;
$skyui-misc-icon-higher-level: \e90e;
$skyui-misc-icon-stolen: \e90f;
$skyui-misc-icon-read: \e910;
$skyui-misc-icon-transfer-in: \e911;
$skyui-misc-icon-transfer-out: \e912;
$skyui-misc-icon-buyer: \e913;
$skyui-misc-icon-vendor: \e914;
$skyui-misc-icon-filter-settings: \e915;
$skyui-misc-icon-search: \e916;
$skyui-misc-icon-transfer-to: \e91c;


