<section class="skyui">
  <aside class="list">
    <header>
      <h1 [innerHTML]="currentTab.name">Loading...</h1>
      <div class="flexSpacer"></div>
      <div class="filter">
        <input type="text" class="filter" name="filter" placeholder="Filter">
        <picture> <i class="icomoon skyui-misc icon-search"></i> </picture>
        <div class="divider"></div>
        <picture> <i class="icomoon skyui-misc icon-filter-settings"></i> </picture>
      </div>
    </header>
    <div class="menu">
      <ul>
        <li *ngFor="let tab of tabs" [class.active]="tab.active" (click)="changeCategoryTab(tab.dbname)">
          <i class="icomoon skyui-category" [ngClass]="tab.icon"></i>
        </li>
      </ul>
    </div>

    <hr>
    <hr>

    <table cdk-table [dataSource]="dataSource">

      <!-- icon Definition -->
      <ng-container cdkColumnDef="icon">
        <td class="icon" cdk-header-cell *cdkHeaderCellDef> o </td>
        <td class="icon" cdk-cell *cdkCellDef="let row">
          <i class="icomoon skyui-item" [ngClass]="row.icon"></i>
        </td>
      </ng-container>

      <!-- name Definition -->
      <ng-container cdkColumnDef="name">
        <td cdk-header-cell *cdkHeaderCellDef> Name </td>
        <td cdk-cell *cdkCellDef="let row"> {{row.name}} <span *ngIf="row.quantity > 1"> ({{ row.quantity }})</span> </td>
      </ng-container>

      <!-- type Definition -->
      <ng-container cdkColumnDef="typeName">
        <td cdk-header-cell *cdkHeaderCellDef> Type </td>
        <td cdk-cell *cdkCellDef="let row"> {{row.typeName}} </td>
      </ng-container>
    
      <!-- value Definition -->
      <ng-container cdkColumnDef="value">
        <td cdk-header-cell *cdkHeaderCellDef> Value </td>
        <td *cdkCellDef="let row"> {{row.value}} </td>
      </ng-container>
    
      <!-- weight Definition -->
      <ng-container cdkColumnDef="weight">
        <td cdk-header-cell *cdkHeaderCellDef> Weight </td>
        <td cdk-cell *cdkCellDef="let row"> {{row.weight}} </td>
      </ng-container>
    
      <!-- Header and Row Declarations -->
      <tr cdk-header-row *cdkHeaderRowDef="columnsToDisplay"></tr>
      <tr cdk-row *cdkRowDef="let row; columns: columnsToDisplay" (mouseenter)="showDetail($event)"></tr>
    </table>

    <div *ngIf="!itemLoaded">
      <h2>Loading Items...</h2>
    </div>

  </aside>
  <main class="list" *ngIf="currentDetail.name">
    <header>
      <picture>
        <i class="icomoon skyui-item icon-armor-heavy-body" [ngClass]="currentDetail.icon"></i>
      </picture>
      <article class="detail">
        <h2 [innerHTML]="currentDetail.typeName">Loading item type...</h2>
        <h1 [innerHTML]="currentDetail.name">Loading item name...</h1>

        <ul>
          <li *ngIf="currentDetail.rating">
            <span class="title"> Rating </span>
            <span class="value">{{ currentDetail.rating }}</span>
          </li>
          <li *ngIf="currentDetail.weight">
            <span class="title">Weight</span>
            <span class="value">{{ currentDetail.weight }}</span>
          </li>
          <li *ngIf="currentDetail.value">
            <span class="title">Value</span>
            <span class="value">{{ currentDetail.value }}</span>
          </li>
        </ul>

      </article>
    </header>
  </main>

  <!-- <ng-template #detailArmor>
    <ul>
      <li>
        <span class="title">Armor</span>
        <span class="value">48</span>
      </li>
      <li>
        <span class="title">Weight</span>
        <span class="value">45</span>
      </li>
      <li>
        <span class="title">Value</span>
        <span class="value">400</span>
      </li>
    </ul>
  </ng-template>

  <ng-template #detailWeapon>
    <ul>
      <li>
        <span class="title">Damage</span>
        <span class="value">48</span>
      </li>
      <li>
        <span class="title">Weight</span>
        <span class="value">45</span>
      </li>
      <li>
        <span class="title">Value</span>
        <span class="value">400</span>
      </li>
    </ul>
  </ng-template>

  <ng-template #detail0>
    <ul>
      <li>
        <span class="title">Weight</span>
        <span class="value">45</span>
      </li>
      <li>
        <span class="title">Value</span>
        <span class="value">400</span>
      </li>
    </ul>
  </ng-template> -->


</section>
