$borderStyle: 2px solid grey;

section.skyui {
  display: flex;
}

aside.list {
  width: 50em;
  margin: 0 2em;
  height: calc(100vh - 92px);
  background: rgba(0, 0, 0, 0.8);
  color: white;
  border-left: $borderStyle;
  border-right: $borderStyle;
  padding: 1em 0;
  > header {
    display: flex;
    h1 {
      font-size: 36px;
      margin-left: 0.3em;
    }
  }
  .divider {
    border: 1px solid grey;
  }
  .menu {
    ul {
      display: flex;
    }
    li {
      flex: auto;
      text-align: center;
      font-size: 32px;
    }
  }
  table {
    width: 100%;
  }

  td.icon {
    width: 2em;
    text-align: center;
  }

  tr {
    height: 2em;
    font-size: 16px;
  }

  tr.cdk-header-row {
    td {
      border-bottom: $borderStyle;
    }
  }

}

main.list {
  flex: 1;
  align-items: center;
  justify-content: center;
  > header {
    margin-top: 20vh;
    text-align: center;
  }
  picture {
    font-size: 15em;
  }
}

article.detail {
  max-width: 40em;
  margin: 0 auto;
  padding: 1em;
  border: $borderStyle;
  border-width: 4px;
  h2 {
    text-align: left;
  }
  h1 {
    font-size: 2em;
    border-bottom: $borderStyle;
    margin: 0.5em auto;
    text-transform: uppercase;
  }
  ul {
    display: flex;
    margin-bottom: 2em;
  }
  li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  span.title {
    font-size: 18px;
    margin-right: 1em;
    text-transform: uppercase;
  }
  span.value {
    font-size: 2em;
  }
}

div.filter {
  display: flex;
  margin-top: 0.7em;
  height: 2em;
  border-top: $borderStyle;
  border-bottom: $borderStyle;
  picture {
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    i {
      margin: 0 0.2em;
    }
  }
  input {
    border: none;
    background-color: transparent;
    color: white;
    text-align: right;
    padding: 0 1em;
  }
}