/* This file should only be included once! */
@import './core';

$index-primary: mat-palette($mat-indigo);
$index-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$index-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$index-theme: mat-light-theme($index-primary, $index-accent, $index-warn);

// mat hack
$localPrimary: map-get(map-get($index-theme, primary), 500); 
$localAccent: map-get(map-get($index-theme, accent), 'A200'); 
$localWarn: map-get(map-get($index-theme, warn), 500); 
$foreground: white;


@include angular-material-theme($index-theme);


.mat-indigo-pink {
  @include angular-material-theme($index-theme);
  .primary {
    background-color: $localPrimary;
    color: $foreground;

    a {
      color: $foreground;
      &:hover {
        color: $foreground
      }
    }

  }

  .primary-text {
    color: $localPrimary;
  }
  .accent {
    background-color: $localAccent;
  }
  .accent-text {
    color: $localAccent;
  }
  .warn {
    color: $localWarn;
  }

  a {
    font-weight: 400;
    &:hover, &.active {
      font-weight: 700;
    }
  }

  #sidenav .mat-list-item {
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    &.active, &:hover {
      color: $localPrimary;
      font-weight: 700;
    }
  }

}

body {
  background-color: #f0f0f0;
}