<section class="app mat-bluegrey-grey">
  <header [class.mainMobile]="mobileQuery.matches">
    <mat-toolbar color="primary" class="topToolbar">
      <mat-toolbar-row>
        <nav class="top">
          <header class="menu">
            <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
          </header>
          <header class="brand">
            <h2>inventory</h2>
          </header>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>
  </header>

  <main class="app">

    <mat-sidenav-container
     class="sidenavContainer"
     [style.marginTop.px]="mobileQuery.matches ? 64 : 64"
    >
      <mat-sidenav
       id="sidenav"
       class="sideNav"
       #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
       [fixedInViewport]="mobileQuery.matches"
       fixedTopGap="64"

      >
        <mat-nav-list class="sideNavList">
          <header class="cover">
            <picture>
              <img src="statics/images/login.png" alt="login" class="rounded fluid">
            </picture>
            <h1>Log in</h1>
          </header>
          <a mat-list-item routerLink="/index" routerLinkActive="active"><mat-icon>menu</mat-icon><h2>Index</h2></a>
          <a mat-list-item routerLink="/inventory/skyui" routerLinkActive="active"><mat-icon>menu</mat-icon><h2>Inventory</h2></a>
          <a mat-list-item routerLink="/editor" routerLinkActive="active"><mat-icon>menu</mat-icon><h2>Editor</h2></a>
          <a mat-list-item routerLink="/github" routerLinkActive="active"><mat-icon>menu</mat-icon><h2>Github</h2></a>
          <a mat-list-item routerLink="/about" routerLinkActive="active"><mat-icon>menu</mat-icon><h2>About</h2></a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>

    </mat-sidenav-container>

  </main>
</section>